#framecontent{
  border : 1px solid black;
position :fixed;

top : 150px;
left : 10px;
width : 230px;
height : 78%;
overflow : hidden;


}
#framecontent a{
color : black;

}

#maincontent{
border : 1px solid black;
position : fixed;
height : 78%;
overflow: auto;
left : 240px;
top : 150px;
width : 83%;


}

.innercontent {
margin : 5px;
}



#right_frame{
  border : 1px solid black;
position :fixed;
top : 0px;
left : 800px;
width : 750px;
height : 100%;
overflow : auto;


}


#left_frame{

border : 1px solid black;
position : fixed;
height : 100%;
overflow: auto;
left : 50px;
top : 0px;
width : 750px;

}



.diff_item{
	background : #C53727;
	opacity : 0.8;
}

.heading h2 a{
color : #86AB57 !important;
}


.active_version {
	background : #0F6AB4;
	padding : 5px;
	
}

.active_version a{
color : white !important;
}


#build_version_bt, #compare{
margin: 10px;
color: #0F6AB4;
background-color : #F5F5F5;
   -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
  border-style: solid;
    border-width: 1px;
}


#build_version_bt:hover, #compare:hover{
background-color: #E6EFC2;
    border: 1px solid #C6D880;
    color: #0F6AB4;
   font-weight :bold;
   cursor : pointer;
}

