@(status : Boolean = true)
<!DOCTYPE HTML>
<html>
<head>
<title>Simple Login Form</title>
<meta charset="UTF-8" />
<meta name="Designer" content="PremiumPixels.com">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/reset.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/structure.css")">
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/spine.js")"></script>
<script src="@routes.Assets.at("javascripts/user.js")" ></script>
</head>

<body>

<form class="box login" method="post" action="/login">
	<fieldset class="boxBody">
	  <label>Username</label>
	  <input type="text" tabindex="1" name="username" required>
	  <label><a href="/register" class="rLink" tabindex="5">Register</a></label>
	  <input type="password" tabindex="2" required  name="password">
	</fieldset>
	<footer>
<!-- 	  <label><input type="checkbox" tabindex="3">Keep me logged in</label> -->
	  <span class="inform">@if(status == false){
	  		Login fail! Check again your password or username.
	  		}
	  </span>
	  <input type="submit" class="btnLogin" value="Login" tabindex="4">
	</footer>
</form>
<footer id="main">
</footer>

<script>
	new User({
		el : $('body')
	});
</script>
</body>
</html>