@(param : models.APIParameter, apis : List[models.APIOperation] = List[models.APIOperation]() )
 
@*

@if(param.allowableValues){



	<tr>
		<td class='code'>@param.name</td>
		<td><select a='@param.name'> {{each allowableValues}} {{if
				$value == defaultValue }}
				<option selected='selected' value='${$value}'>${$value}</option>
				{{else}}
				<option value='${$value}'>${$value}</option> {{/if}} {{/each}}
		</select></td>
		<td class="type">@param.dataType</td>
			@if(apis.size > 0){
		<td><input name="needed_name"  /></td>
		<td>
			<select name="needed_api">
				@for(api <- apis){
						@if(api.isDeleted == false){
							<option  value="@(api.nickname)_@api.httpMethod">@api.id</option>
						}
				}	
			</select></td>
			}
		<td width='500'>@param.description</td>
	</tr>
}else{*@ 
	@if(param.required){ 
		@if(param.readOnly){
			<tr>
				<td class='code required'>@param.name</td>
				<td>-</td>
				<td class="type">@param.dataType</td>
					@if(apis.size > 0){
				<td><input name="needed_name"  /></td>
				<td>
					<select name="needed_api">
					@for(api <- apis){
						@if(api.isDeleted == false){
							<option   value="@(api.nickname)_@api.httpMethod">@api.id</option>
						}
					}		
					</select>
				</td>
				}
				<td width='500'>@param.description</td>
			</tr>
		}else{
			<tr>
				<td class='code required'>@param.name</td>
				<td><input class='required' minlength='1' name='@param.name.replaceAllLiterally("class","clazz")'
					placeholder='(required)' type='text' value='@param.value'  class="input"/></td>
					<td class="type">@param.dataType</td>
						@if(apis.size > 0){
						<td><input name="needed_name"  /></td>
				<td>
					<select name="needed_api">
					@for(api <- apis){
						@if(api.isDeleted == false){
							<option  value="@(api.nickname)_@api.httpMethod">@api.id</option>
						}
					}	
					</select>
				</td>
				}
				<td width='500'><strong>@param.description</strong></td>
			</tr>
		}
	}else{
		@if(param.readOnly){
			<tr>
				<td class='code'>@param.name</td>
				<td>-</td>
				<td class="type">@param.dataType</td>
					@if(apis.size > 0){
					<td><input name="needed_name"  /></td>
			<td>
					<select name="needed_api">
					@for(api <- apis){
						@if(api.isDeleted == false){
							<option   value="@(api.nickname)_@api.httpMethod">@api.id</option>
						}
					}	
					</select>
				</td>
				}
				<td width='500'>@param.description</td>
			</tr>
		}else{
			<tr>
				<td class='code'>@param.name</td>
				<td><input minlength='0' name='@param.name.replaceAllLiterally("class","clazz")' placeholder='' type='text'
					value='@param.value'  class="input"/></td>
					<td class="type">@param.dataType</td>
					@if(apis.size > 0){
						<td><input name="needed_name"  value="@param.needed_name"/></td>
			<td>
					<select name="needed_api">
					@for(api <- apis){
						@if(api.isDeleted == false){
							@if(api.nickname + "_" + api.httpMethod == param.needed_api){
								<option selected  value="@(api.nickname)_@api.httpMethod">@api.id</option>
							}else{
								<option  value="@(api.nickname)_@api.httpMethod">@api.id</option>
							}
						}
					}		
					</select>
				</td>
				}
				<td width='500'>@param.description</td>
			</tr>
		}
	}
@*}*@