@(status : Boolean = true)
<!DOCTYPE HTML>
<html>
<head>
<title>Simple Login Form</title>
<meta charset="UTF-8" />
<meta name="Designer" content="PremiumPixels.com">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/reset.css")">
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/structure.css")">
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/spine.js")"></script>
<script src="@routes.Assets.at("javascripts/user.js")" ></script>
</head>

<body>

<form class="box login" id="register" method="post" action="/register">
	<fieldset class="boxBody">
	
	   <label>Username</label>
	    <input type="text" tabindex="1" name="username" required>
	  <label>Password</label>
	  <input type="password" tabindex="2" name="password" required>
	  <label>Password Confirm</label>
	  <input type="password" tabindex="3" name="pwdConfirm" required>
	</fieldset>
	<footer>
	  <label></label>
	  <span class="inform">
	  	@if(status == false){
	  		Register fail ! User name exists !
	  	}
	  </span>
	  <input type="submit" class="btnLogin btnRegister" value="Register" tabindex="4">
	</footer>
</form>
<footer id="main">

</footer>

<script type="text/javascript">
 new User({
	el : $("body") 
 });
</script>
</body>
</html>