@(apiReportList : java.util.List[util.APIReport])
<html>
<head>

<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")"></script>
<link  
	href="@routes.Assets.at("stylesheets/demo_table.css")"
	rel="stylesheet" media="screen"/>
	
</head>
<body>
<input type="text" name="date">
<input type="button" value="Submit" />
<table id="tab" class="display">
    <thead>
        <tr>
            <th>API</th>
            <th>Hit</th>
            <th>Max</th>
            <th>Min</th>
            <th>Avg(ms/hit)</th>
            
    
        </tr>
    </thead>
    <tbody>
    @for(r <- apiReportList){
    	<tr>
    		<td>@r.getApi()</td>
    		<td>@r.getCount()</td>
    		<td>@r.getMax()</td>
    		<td>@r.getMin()</td>
    		<td>@r.getAvg()</td>
    	</tr>
    }
    </tbody>
</table>
</body>
</html>
<script>
$(function(){
	
	$("#tab").dataTable({"iDisplayLength" : "50"});
});
</script>