@(apiReportList : java.util.List[util.APIReport])
<html>
<head>




	
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.ui.core.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.ui.widget.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.ui.datepicker.js")"></script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")"></script>
<link 
	href="@routes.Assets.at("stylesheets/statistic.css")"
	rel="stylesheet" media="screen" />

<link  
	href="@routes.Assets.at("stylesheets/demo_table.css")"
	rel="stylesheet" media="screen"/>
	<link  
	href="@routes.Assets.at("stylesheets/jquery-ui.css")"
	rel="stylesheet" media="screen"/>
	<script>
	$(function(){
	$("#datepicker").datepicker();
});
</script>
</head>
<body>
<form action="/statistic">
Date: <input type="text" class="date" name="date" id="datepicker">
<input type="submit" class="submit" value="Submit" />
</form>

<table id="tab" class="display">
    <thead>
        <tr>
            <th>API</th>
            <th>Hits</th>
            <th>Max Hits (hit/ms)</th>
            <th>Min Hits (hit/ms)</th>
            <th>Avg Hits (hit/ms)</th>
            
    
        </tr>
    </thead>
    <tbody>
    @for(r <- apiReportList){
    	<tr>
    		<td>@r.getApi()</td>
    		<td>@r.getCount()</td>
    		<td>@r.getMax()</td>
    		<td>@r.getMin()</td>
    		<td>@r.getAvg()</td>
    	</tr>
    }
    </tbody>
</table>

</body>
</html>
<script>
$(function(){
	$("#datepicker").datepicker("option","dateFormat","yy-mm-dd");
	$("#tab").dataTable({  "sPaginationType": "full_numbers",
						 	"iDisplayLength": 20
						});
});
</script>