
@(list1 : List[models.APIResource], list2 : List[models.APIResource])



<div id="left_frame">
	<div class="innercontent">
		<div id="content_message"></div>
		<div id="resources_list">
			@resources_list(list1,"list1")
		</div>
	</div>
</div>

<div id="right_frame">
	<div class="innercontent">
	<div id="content_message"></div>
		<div id="resources_list">
			@resources_list(list2,"list2")
		</div>
	</div>
</div>
</body>
<script type="text/javascript">
$(function(){
	new VersionCompare({
		el : $('body')
	})	
	
});

</script>
