
<link  	href="@routes.Assets.at("stylesheets/compare.css")"	rel="stylesheet" media="screen"/>
<script src="@routes.Assets.at("javascripts/api_version.js")"></script>

<input type="button" value="Compare"  id="compare" />

<input type="button" value="Build new version"  id="build_version_bt" />
<div id="framecontent">
	<div class="innercontent"></div>
</div>




<div id="maincontent">
	<div class="innercontent">
		@api_index()
	</div>
</div>
<script type="text/javascript">
	new ApiVersionMain({
		el : $('body')
	});
</script>
